Flask==0.10.1
Flask-Classy==0.6.10
Flask-Login==0.2.11
Flask-UUID==0.2
Flask-WTF==0.10.2
Jinja2==2.7.3
MarkupSafe==0.23
WTForms==2.0.1
Werkzeug==0.9.6
argparse==1.2.1
commandr==1.3.2
itsdangerous==0.24
pyotp==1.4.1
requests==2.4.1
rethinkdb==1.15.0-0
scrypt==0.6.1
sh==1.09
stripe==1.19.0
wsgiref==0.1.2
yubico-client==1.9.1
