{% extends "baseplate/layout.html" %}
{% block header_title %}Register New Account{% endblock %}
{% block header_css_pre %}
<link rel="stylesheet" type=text/css href="{{ url_for('static', filename='css/form.css') }}">
{% endblock header_css_pre %}
{% block body %}
<div class="content">
  <div class="container_12 ">
	<div class="grid_8">
         {%- include 'baseplate/blocks/flashed.html' -%}
	  <h3>Register New Account:</h3>
	  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
	  <form id="form" action="{{ url_for('AuthView:do_register') }}" method=post>
		{{ form.csrf_token }}</br>
		{{ form.email(size=20, class="name", placeholder=form.email.label.text) }}</br>
		{{ form.password(size=20, class="name", placeholder=form.password.label.text) }}</br>
		<div class="clear"></div>
		<input class="btn" type="submit" value="Register">
	  </form>
	</div>
  </div>   
</div>
{% endblock %}