{% extends "baseplate/layout.html" %}
{% block header_title %}About M-Cubed Global{% endblock %}
{% block body %}
<!--==============================Content=================================-->

<div class="content">
  <div class="container_12 ">
	<div class="grid_8">
         {%- include 'baseplate/blocks/flashed.html' -%}
	  <h3>About m-cubed global</h3>
	  <img src="/static/images/people/Exley_Mixon_III.sm_right.jpg" alt="" class="img_inner fleft">
	  <div class="extra_wrapper">
		<div class="text1"><a href="#">Assisting companies, professionals, skilled workers and business people to innovate in environmental compliance! </a></div>
		<p>M-Cubed Global is a privately held company established in 1984 with, at that time a primary focus on Asset Management and Recovery. M-Cubed Global is extremely proud of obtaining our ISO 14001 certification in early 2006.</p>
		<p>M-Cubed Global is excited about its future and its ability to enable our customers to be compliant to the Environmentally focused Directives and/or regulations that are now being imposed around the Globe.</p>
	  </div>
	  <div class="clear"></div>
	  <h3 class="head1">Why should you use our services?</h3>
	  <ul class="list">
		<li>We have offered a highly professional service for over 30 years.</li>
		<li>We have thousands of satisfied customers.</li>
		<li>Our fees are competitive.</li>
		<li>We are 100% privately owned.</li>
		<li>We can certify documents and declarations in-house.</li>
		<li>We have a vast amount of knowledge to help you, world-wide.</li>
		<li>Our offices are in the same time zones as equipment is deployed.</li>
		<li>We are usually faster and more effective than overseas agents, which means disbursement charges are less.</li>
	  </ul>
	  <h3 class="head1">Why Choose Our Environmental Services? </h3>
	  <p>We are aggressive and responsive provider of environmental services, with a total commitment to excellence. We are dedicated to the interests of our clients and delivery of extraordinarily responsive, creative, practical and high quality solutions to their problems, developed from their point of view. We are also dedicated to providing our clients with quality service at a competitive cost. </p>
	  <p class="col1">
		<strong>With many years of experience in environmental consulting in the community, our company has been offering professional and extensive services. </strong>
		<p>M-Cubed Global has partnered with "Best in Class" organizations with a world wide presence to provide extended Component Engineering Services, Testing, Service & Repair along with M-Cubed Global's expertise in RoHS, WEEE, E-Waste, Excess and Obsolete Inventory Management and Marketing Services. With our partners we can touch every region of the World including EMEA, APAC, and Americas.</p>
		<p>To further our reach, we have partnered with a German Firm as M-Cubed Global's certified collector/recycler in EMEA and with two additional partners in the APAC region located in Singapore and Malaysia.</p>
	</p>
	  <!-- <a href="#" class="btn">read more</a> -->
	</div>
	<div class="grid_4">
	  <h3>Why Choose M-Cubed Global for Compliance?</h3>
	  <img src="/static/images/page2_img2.jpg" alt="" class="img_inner">
	  <div class="text1 tx1"><a href="#">California Senate Bill (SB) 20/50</a></div>
	  <p>California Senate Bill (SB) 20/50 is the California equivalent to the Restriction of Hazardous Substance (RoHS) and Waste Electrical Electronic Equipment (WEEE) European Union (EU) Directives. M-Cubed Global, with the release of the EU Directives has increased their Service portfolio offerings to include providing full turn-key services in becoming RoHS and WEEE Certified. M-Cubed Global has leveraged its certification to CA SB 20/50 along with its twenty plus years in the Asset Management and Recovery business to become the industry leader in offering a WEEE solution to our Customer Base.  The entire M-Cubed Global family worked diligently and was always focused on achieving our certification and takes great pride in our CA SB 20/50 Certification.</p>
	  <p>There are hundreds of certified collectors but <br>M-Cubed Global is only one of a handful of Certified Collectors AND Recyclers to acquire <br>California Senate Bill 20/50 certification.</p>
	  <!-- <h3 class="head1">testimonials</h3>
	  <blockquote class="bq2">
		<p>Dealing with M-Cubed Global made things extremely quick and easy. <img src="/static/images/iconlogos/quotes.png" alt=""></p>
		
		<div class="bq_bot">T. Zonday
		  <div class="upp">(@iaminigomontoya)</div>
		</div>
	  </blockquote>
	  <blockquote class="bq2">
		<p>Really happy with my new Xeons and 10Gbit networking gear!<img src="/static/images/iconlogos/quotes.png" alt=""></p>
		<div class="bq_bot">G. Cantin
		  <div class="upp">(@kamilion)</div>
		</div>
	  </blockquote> -->
	</div>
  </div>   
</div>
{% endblock body %}