<!-- begin navmenu-user.html -->
							<li><a href="{{ url_for('BaseView:index') }}">Home</a></li>
							<li><a href="{{ url_for('BaseView:home') }}">Services</a>
								<ul>
									<li><a href="{{ url_for('BaseView:index') }}">Global Take-back</a></li>
									<li><a href="{{ url_for('BaseView:index') }}">Data Security</a></li>
									<li><a href="{{ url_for('BaseView:index') }}">RoHS &amp; WEEE Assessment</a>
									<ul>
										<li><a href="{{ url_for('BaseView:index') }}">RoHS Assessment</a></li>
										<li><a href="{{ url_for('BaseView:index') }}">WEEE Assessment</a></li>
									</ul>
									</li>
								</ul>
							</li>
							<li><a href="{{ url_for('BaseView:home') }}">Trade-Ins</a>
								<ul>
									<li><a href="/tickets/fireeye"><img src="{{ url_for('static', filename='images/iconlogos/partner-fireeye-logo.png') }}" alt="FireEye Logo"></a></li>
									<li><a href="/tickets/riverbed"><img src="{{ url_for('static', filename='images/iconlogos/partner-riverbed-logo.png') }}" alt="Riverbed Logo"></a></li>
								</ul>
							</li>
							<!-- <li><a href="{{ url_for('BaseView:index') }}">Takeback</a></li> -->
							<li><a href="{{ url_for('BaseView:index') }}">Store</a></li>
							<li><a href="{{ url_for('BaseView:about') }}">About Us</a>
							<ul>
								<li><a href="{{ url_for('BaseView:index') }}">Corporate Profile</a></li>
								<li><a href="{{ url_for('BaseView:index') }}">Company Management</a></li>
							</ul>
							</li>
							<li><a href="{{ url_for('BaseView:contact') }}">Contact Us</a>
							{% if current_user.id %}
								<ul>
									<li><a href="{{ url_for('BaseView:contact') }}">User Submitted Tickets</a>
									<li><a href="{{ url_for('BaseView:index') }}">Pages Index</a>
									<ul>
										<li>No unmapped pages</li>
									</ul>
									</li>
								</ul>
							{% endif %}
							</li>
<!-- end navmenu-user.html -->