<!-- begin navmenu-user.html -->
							<li><a href="{{ url_for('BaseView:index') }}">Home</a></li>
							<li><a href="{{ url_for('BaseView:home') }}">Services</a>
								<ul>
									<li><a href="{{ url_for('PagesView:get', uuid='f7a73acf-6b65-472b-b39c-39f5df1f455a') }}">Global Take-back</a></li>
									<li><a href="{{ url_for('PagesView:get', uuid='6513db97-eb95-4c7c-9b95-4aa3e4aad00e') }}">Data Security</a></li>
									<li><a href="{{ url_for('PagesView:get', uuid='1249fd8b-164c-489c-9db9-13ae3c15cd8b') }}">RoHS &amp; WEEE Assessment</a>
									<ul>
										<li><a href="{{ url_for('PagesView:get', uuid='5f39c7a0-3af2-4282-a17e-f6e134d65e47') }}">RoHS Assessment</a></li>
										<li><a href="{{ url_for('PagesView:get', uuid='1249fd8b-164c-489c-9db9-13ae3c15cd8b') }}">WEEE Assessment</a></li>
									</ul>
									</li>
								</ul>
							</li>
							<li><a href="{{ url_for('BaseView:home') }}">Trade-Ins</a>
								<ul>
									<li><a href="/tickets/fireeye"><img src="{{ url_for('static', filename='images/iconlogos/partner-fireeye-logo.png') }}" alt="FireEye Logo"></a></li>
									<li><a href="/tickets/riverbed"><img src="{{ url_for('static', filename='images/iconlogos/partner-riverbed-logo.png') }}" alt="Riverbed Logo"></a></li>
								</ul>
							</li>
							<!-- <li><a href="{{ url_for('PagesView:get', uuid='5cb464a6-a73d-465a-9265-546990f59d18') }}">Takeback</a></li> -->
							<li><a href="http://www.ebay.com/sch/mcubedglobal/m.html">Store</a></li>
							<li><a href="{{ url_for('BaseView:about') }}">About Us</a>
							<ul>
								<li><a href="{{ url_for('PagesView:get', uuid='5cb464a6-a73d-465a-9265-546990f59d18') }}">Corporate Profile</a></li>
								<li><a href="{{ url_for('PagesView:get', uuid='aa5c962d-4d6d-41e0-b7d5-2aff23ad3f19') }}">Company Management</a></li>
							</ul>
							</li>
							<li><a href="{{ url_for('TicketsView:index') }}">Contact Us</a>
							{% if current_user.id %}
								<ul>
									<li><a href="{{ url_for('TicketsView:admin') }}">User Submitted Tickets</a>
									<li><a href="{{ url_for('PagesView:index') }}">Pages Index</a>
									<ul>
										<li>No unmapped pages</li>
									</ul>
									</li>
								</ul>
							{% endif %}
							</li>
<!-- end navmenu-user.html -->