
__author__ = 'Kamilion@gmail.com'
########################################################################################################################
## Site Specific Configuration Definitions
########################################################################################################################

# Open Registration?
allow_new_users = False

########################################################################################################################
## Flask Configuration Definitions
########################################################################################################################

# CSRF protection
secret_key = "homestarrunnerisawinner"

# API Endpoint protection
api_key = "yourheadasplode"

# Debugging?
debug = True

########################################################################################################################
## Mail Host Configuration Definitions
########################################################################################################################
# smtplib config
smtp = {
    'host': 'smtp.gmail.com',
    'port': 587,
    'tls': True,
    'replyto': 'strongbad@gmail.com',  # Must be an email address. Messages will originate here by default.
    'username': 'strongbad@gmail.com',  # Must be a username (MS Exchange likes <domain>\<username> )
    'password': 'thecheat63',
}

########################################################################################################################
## RethinkDB Configuration Definitions
########################################################################################################################
# rethink config
rdb = {
    'host': 'localhost',
    'port': 28015,
    'auth_key': '',
    'defaultdb': 'kaizen',
    'userdb': 'kaizen',
    'billingdb': 'kaizen',
    'ticketsdb': 'kaizen',
    'pagedb': 'kaizen'
}

# Note, there is currently a bug with how remodel handles databases. Stick to one for now.

########################################################################################################################
## YubiCo Configuration Definitions
########################################################################################################################

yubico_keys = {  # Used in authmodel.py
    'client_id': '12345',
    'secret_key': 'thatsamazingitsthesamekeyiuseformyluggage'
}

########################################################################################################################
## Stripe Configuration Definitions
########################################################################################################################

stripe_keys = {  # Used in billingmodel.py
    'secret_key': 'sk_test_JCpSUX6gOBRacHaVJDiCKTbi',
    'publishable_key': 'pk_test_LhrTHEeEDuDEaBiDeSpvbPM6'
}
