{% extends "baseplate/layout.html" %}
{% block header_title %}{{ results.title|safe }}{% endblock %}
{% block body %}
<div class="content">
  <div class="container_12 ">
    <div class="grid_12">
      {%- include 'baseplate/blocks/flashed.html' -%}
      <h3>
      <a href="{{ url_for('PagesView:get', uuid=results.id) }}">{{ results.title|safe }}</a>
      {% if current_user.id %}
      | <a href="{{ url_for('PagesView:edit_page', uuid=results.id) }}">Edit</a>
      {% endif %}
      </h3>
      {{ results.content|safe }} 
    </div>
  </div>   
</div>
{% endblock %}